<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio de sesión UFCJ</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!--metadatos-->
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Universidad Fronteriza de Ciudad Juárez, 16 días de activismo contra la violencia de género..."/>
    <meta name="keywords" content="Fronteriza, Universidad, Activismo"/>
    <meta name="robots" content="index"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/EstiloFooter.css">
    <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/buscador.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="">
        <div class="logo">
            <a href="/">
                <img alt="UFCJ" class="logo" src="/images/favicon.ico"/>
            </a>
        </div>
        <b><h1 class="ufcj">UNIVERSIDAD FRONTERIZA DE CIUDAD JUÁREZ</h1></b>
            <div class="buscar-wrapper">
                <ul id="results" class="results"></ul>
                <input type="text" id="buscar" placeholder="Buscar" class="buscar-input">
                <button onclick="buscar()" class="buscar-button">Buscar</button>
            </div>
            <script src="/js/Buscador.js"></script>
        </div>
    </header>
    <div id="menu">
        <ul id="menu-list">
            <!--Elementos dinámicos-->
        </ul>
    </div>
    <script src="/js/Menu.js"></script>

    <div class="contenedor">
        <center><br>
            <p><strong>Nombre:</strong> <%= nombre %></p>
            <p><strong>Matrícula:</strong> <%= matricula %></p>
            <p><strong>Grupo:</strong> <%= grupo %></p>
            <p><strong>Tutor:</strong> <%= tutor %></p>
            <p><strong>Carrera:</strong> <%= carrera %></p><br>
        </center>
    </div>
    <div class="row">
        <div class="col-md-6 columna-izquierda">
            <div class="button-container d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-primary btns" onclick="window.location.href='/chat'">Chat</button>
            </div>
        </div>
        <div class="col-md-6 columna-derecha">
            <div class="button-container d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-danger btns" onclick="logout()">Cerrar sesión</button>
            </div>
        </div>
        <!--script>
            function logout() {
                localStorage.removeItem('token');
                document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = '/login';
            }
        </script-->
        <script>
            function logout() {
                // Enviar una solicitud POST a la ruta de cierre de sesión en el servidor
                fetch('/logout', { method: 'POST', credentials: 'include' })
                    .then(() => {
                        // Elimina el token del localStorage
                        localStorage.removeItem('token');
                        
                        // Redirige al usuario a la página de inicio de sesión
                        window.location.href = '/login';
                    })
                    .catch(err => console.error('Error al cerrar sesión:', err));
            }
        </script>
    </div>
    <br><br>

    <footer>
        <div id="dynamic-footer">
        </div>
    </footer>
    <script src="/js/Footer.js"></script>
</body>
</html>